.iocn {
  width: 20px;
  height: 20px;
  display: inline-flex;
  vertical-align: sub;
}

.cloud {
  background-image: url("../assets/imgs/阴天.png");
}

.sunny {
  background-image: url(../assets/imgs/晴天.png);
}

.clouds {
  background-image: url(../assets/imgs/多云.png);
}

.rain {
  background-image: url(../assets/imgs/雨天.png);
}

.snow {
  background-image: url(../assets/imgs/雪天.png);
}

.full {
  background-image: url(../assets/imgs/全屏.png);
  background-size: 100% 100%;
}

.window {
  background-image: url(../assets/imgs/全屏.png);
  background-size: 100% 100%;
}

.title {
  button {
    margin-right: 10px;
    background-color: #f8a000;
    background-color: var(--color);
  }

  position: relative;
  background-image: url(../assets/imgs/images/文字标题.png),
    url(../assets/imgs/apng/头部标题栏.png);
  background-size: 680px 60px, 100% 100%;
  background-repeat: no-repeat;
  background-position: center top, center;
  width: 100%;
  height: 80px;
  line-height: 72px;
  color: aliceblue;
  font-size: 32px;
  text-align: center;

  & > div {
    position: absolute;
    top: 0;
    right: 40px;
    font-size: 16px;
  }
}

.divBox {
  width: 100%;
  height: 100%;
  // background-image: url(../assets/imgs/bg2x.png);
  background-size: 100% 100%;
  position: relative;

  video {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.navBox {
  display: grid;
  grid-template-columns: 480px 860px 480px;
  grid-template-rows: repeat(100, 10px);
  grid-auto-flow: row dense;
  // gap: 20px;
  column-gap: 20px;
  padding: 10px 30px;
  justify-content: center;

  div.itmeBox {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/imgs/apng/板块底边线-窄.png);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 100%;

    .mainBox {
      display: flex;
      height: 100%;
      width: 400%;
      gap: 20px;

      & > div {
        width: 25%;
        display: flex;
        flex-direction: column;
        background-image: url("/src/assets/imgs/apng/板块背景-中下.png");
        background-position: bottom;
        background-repeat: no-repeat;

        & > div:nth-child(2) {
          flex-grow: 1;
          // background-image: url(../assets/imgs/images/背景框2.png);
          background-size: 100% 100%;
          box-sizing: content-box;
          display: flex;
        }
      }

      //
      .mainApp {
        & > div.appList:nth-child(2) {
          justify-content: space-around;
          position: relative;
          overflow: hidden;

          & > div {
            // &::before {
            //   content: " ";
            //   position: absolute;
            //   width: 100%;
            //   height: 2px;
            //   background-color: #11c7df;
            //   align-self: center;
            //   left: 0;
            //   animation: lift-right 15s linear;
            // }

            @keyframes lift-right {
              0% {
                width: 0%;
              }

              5% {
                width: 5%;
              }

              15% {
                width: 5%;
              }

              20% {
                width: 25%;
              }

              35% {
                width: 25%;
              }

              40% {
                width: 45%;
              }

              55% {
                width: 45%;
              }

              60% {
                width: 65%;
              }

              75% {
                width: 65%;
              }

              80% {
                width: 85%;
              }

              95% {
                width: 85%;
              }

              100% {
                width: 90%;
              }
            }

            justify-content: space-around;
            &:last-child {
              justify-content: flex-start;
            }
            display: flex;
            width: 100%;
            height: 90%;
            position: absolute;
            // top: 50px;
            left: 0;
            // animation: zoom-iocn 50s linear infinite;

            &:nth-child(even) {
              div:nth-child(even) {
                background-position-y: bottom;
                align-self: flex-end;

                &::before {
                  top: -20px;
                }

                & > p:nth-child(3) {
                  position: absolute;
                  top: -60px;
                  width: 100%;
                  text-align: center;
                }

                // animation: animationT_B 3s linear infinite;
              }
              div:nth-child(odd) {
                &::before {
                  bottom: -20px;
                }

                & > p:nth-child(3) {
                  position: absolute;
                  bottom: -60px;
                  width: 100%;
                  text-align: center;
                }

                // animation: animationB_T 3s linear infinite;
              }
            }
            &:nth-child(odd) {
              div:nth-child(odd) {
                background-position-y: bottom;
                align-self: flex-end;

                &::before {
                  top: -20px;
                }

                & > p:nth-child(3) {
                  position: absolute;
                  top: -60px;
                  width: 100%;
                  text-align: center;
                }

                // animation: animationT_B 3s linear infinite;
              }
              div:nth-child(even) {
                &::before {
                  bottom: -20px;
                }

                & > p:nth-child(3) {
                  position: absolute;
                  bottom: -60px;
                  width: 100%;
                  text-align: center;
                }

                // animation: animationB_T 3s linear infinite;
              }
            }
          }
          & > div:first-child::before {
            width: 95%;
            left: 5%;
          }
          & > div:last-child::before {
            width: 95%;
            left: 0;
          }

          & > div > div {
            width: 16.6%;
            height: 110px;
            background-image: url(../assets/imgs/images/应用背景-默认.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            position: relative;
            opacity: 0;
            transition: all 3s;

            &::before {
              content: " ";
              position: absolute;
              width: 10px;
              height: 10px;
              background-color: #11c7df;
              border-radius: 5px;
              left: 48%;
            }

            // &:nth-child(1) {
            //   animation: icon-top1 15s linear infinite;
            // }

            // &:nth-child(2) {
            //   animation: icon-top2 15s linear infinite;
            // }

            // &:nth-child(3) {
            //   animation: icon-top3 15s linear infinite;
            // }

            // &:nth-child(4) {
            //   animation: icon-top4 15s linear infinite;
            // }

            // &:nth-child(5) {
            //   animation: icon-top5 15s linear infinite;
            // }

            // @keyframes icon-top1 {
            //   0% {
            //     opacity: 0;
            //   }

            //   5% {
            //     opacity: 0;
            //     transform: translateY(-100%);
            //   }

            //   15% {
            //     opacity: 1;
            //     transform: scale(1);
            //     transform: translateY(0);
            //   }

            //   20% {
            //   }

            //   35% {
            //   }

            //   40% {
            //   }

            //   55% {
            //   }

            //   60% {
            //   }

            //   75% {
            //   }

            //   80% {
            //   }

            //   95% {
            //   }

            //   100% {
            //   }
            // }

            // @keyframes icon-top2 {
            //   0% {
            //     opacity: 0;
            //   }

            //   5% {
            //   }

            //   15% {
            //   }

            //   20% {
            //     opacity: 0;
            //     transform: translateY(100%);
            //   }

            //   35% {
            //     opacity: 1;
            //     transform: scale(1);
            //     transform: translateY(0);
            //   }

            //   40% {
            //   }

            //   55% {
            //   }

            //   60% {
            //   }

            //   75% {
            //   }

            //   80% {
            //   }

            //   95% {
            //   }

            //   100% {
            //   }
            // }

            // @keyframes icon-top3 {
            //   0% {
            //     opacity: 0;
            //   }

            //   40% {
            //     opacity: 0;
            //     transform: translateY(-100%);
            //   }

            //   55% {
            //     opacity: 1;
            //     transform: scale(1);
            //     transform: translateY(0);
            //   }

            //   60% {
            //   }

            //   75% {
            //   }

            //   80% {
            //   }

            //   95% {
            //   }

            //   100% {
            //   }
            // }

            // @keyframes icon-top4 {
            //   0% {
            //     opacity: 0;
            //   }

            //   5% {
            //   }

            //   15% {
            //   }

            //   20% {
            //   }

            //   35% {
            //   }

            //   40% {
            //   }

            //   55% {
            //   }

            //   60% {
            //     opacity: 0;
            //     transform: translateY(100%);
            //   }

            //   75% {
            //     opacity: 1;
            //     transform: scale(1);
            //     transform: translateY(0);
            //   }

            //   80% {
            //   }

            //   95% {
            //   }

            //   100% {
            //   }
            // }

            // @keyframes icon-top5 {
            //   0% {
            //     opacity: 0;
            //   }

            //   5% {
            //   }

            //   15% {
            //   }

            //   20% {
            //   }

            //   35% {
            //   }

            //   40% {
            //   }

            //   55% {
            //   }

            //   60% {
            //   }

            //   75% {
            //   }

            //   80% {
            //     opacity: 0;
            //     transform: translateY(-100%);
            //   }

            //   95% {
            //     opacity: 1;
            //     transform: scale(1);
            //     transform: translateY(0);
            //   }

            //   100% {
            //   }
            // }

            & > div {
              margin: auto;
              width: 100px;
              height: 65px;
              background-repeat: no-repeat;
              background-size: 25%;
              background-position-x: center;
              background-position-y: 30px;
            }

            & > p {
              text-align: center;
              width: 85px;
              margin: 0 auto;
              color: rgba(0, 246, 252, 1);
              font-size: 14px;
            }
          }

          // 图标烦恼
          & > div:nth-child(1) > div {
            &:nth-child(1) > div {
              background-image: url(../assets/imgs/images/icon/智慧商圈.png);
            }

            &:nth-child(2) > div {
              background-image: url(../assets/imgs/images/icon/智能报修.png);
            }

            &:nth-child(3) > div {
              background-image: url(../assets/imgs/images/icon/跳蚤市场.png);
            }

            &:nth-child(4) > div {
              background-image: url(../assets/imgs/images/icon/服务监督.png);
            }

            &:nth-child(5) > div {
              background-image: url(../assets/imgs/images/icon/公车出行.png);
            }
          }

          & > div:nth-child(2) > div {
            &:nth-child(1) > div {
              background-image: url(../assets/imgs/images/icon/能慧通.png);
            }

            &:nth-child(2) > div {
              background-image: url(../assets/imgs/images/icon/电瓶车充电.png);
            }

            &:nth-child(3) > div {
              background-image: url(../assets/imgs/images/icon/聚合收款码.png);
            }

            &:nth-child(4) > div {
              background-image: url(../assets/imgs/images/icon/智慧餐饮.png);
            }

            &:nth-child(5) > div {
              background-image: url(../assets/imgs/images/icon/智能云印.png);
            }

            // &:nth-child(6)>div {
            //   background-image: url(../assets/imgs/images/icon/智慧门禁.png);
            // }

            // &:nth-child(7)>div {
            //   background-image: url(../assets/imgs/images/icon/辅导员系统.png);
            // }
          }

          & > div:nth-child(3) > div {
            &:nth-child(1) > div {
              background-image: url(../assets/imgs/images/icon/自习室预约.png);
            }

            &:nth-child(2) > div {
              background-image: url(../assets/imgs/images/icon/教工餐厅就餐.png);
            }

            &:nth-child(3) > div {
              background-image: url(../assets/imgs/images/icon/POS管理系统.png);
            }

            &:nth-child(4) > div {
              background-image: url(../assets/imgs/images/icon/消息推送.png);
            }

            &:nth-child(5) > div {
              background-image: url(../assets/imgs/images/icon/食安监管系统.png);
            }

            // &:nth-child(6)>div {
            //   background-image: url(../assets/imgs/images/icon/聚合收款码.png);
            // }

            // &:nth-child(7)>div {
            //   background-image: url(../assets/imgs/images/icon/自习室预约.png);
            // }

            // &:nth-child(8)>div {
            //   background-image: url(../assets/imgs/images/icon/智能云印.png);
            // }
          }

          & > div:nth-child(4) > div {
            &:nth-child(1) > div {
              background-image: url(../assets/imgs/images/icon/智慧公寓.png);
            }

            &:nth-child(2) > div {
              background-image: url(../assets/imgs/images/icon/新一卡通.jpg);
            }

            &:nth-child(3) > div {
              background-image: url(../assets/imgs/images/icon/物流采购系统.jpeg);
            }

            &:nth-child(4) > div {
              background-image: url(../assets/imgs/images/icon/智慧门禁.png);
            }

            &:nth-child(5) > div {
              background-image: url(../assets/imgs/images/icon/智慧巡检.png);
            }
          }
          & > div:nth-child(5) {
            justify-content: space-between;
          }
          & > div:nth-child(5) > div {
            &:nth-child(1) > div {
              background-image: url(../assets/imgs/images/icon/数据驾驶舱.png);
            }

            // &:nth-child(1) > div {
            //   background-image: url(../assets/imgs/images/icon/云餐厅.png);
            // }

            // &:nth-child(2) > div {
            //   background-image: url(../assets/imgs/images/icon/云餐厅.png);
            // }

            // &:nth-child(3) > div {
            //   background-image: url(../assets/imgs/images/icon/云餐厅.png);
            // }

            // &:nth-child(4) > div {
            //   background-image: url(../assets/imgs/images/icon/智慧巡检.png);
            // }

            // &:nth-child(5) > div {
            //   background-image: url(../assets/imgs/images/icon/.png);
            // }
          }
        }
      }

      .SmartLife {
        overflow: hidden;
      }

      .SmartLife > div {
        flex-grow: 1;
        background-size: 100% 100%;
        box-sizing: content-box;
        display: flex;
        animation: animationSmartLife 20s
          linear(
            0 0%,
            0.7 5.74%,
            1.03 7.75%,
            1 26.25%,
            1.07 50.6%,
            1 68.72%,
            1.01 72.2%,
            1 86.7%,
            1 100%
          )
          infinite;
        flex-direction: column;
        gap: 20px;
        padding: 10px;

        h4 {
          width: 120px;
          height: 70px;
          font-family: PingFang SC;
          font-weight: 600;
          font-size: 16px;
          color: #ffffff;
          line-height: 7px;
          text-align: center;
          line-height: 70px;
          background-image: url(../assets/imgs/apng/数据展示框5.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }

        & > div {
          width: 100%;
          display: flex;

          & > div {
            flex-grow: 1;
            display: flex;
            color: #ffffff;
            align-items: center;

            & > div {
              width: 33%;
              // height: 40px;
              padding: 10px 20px;
              font-size: 20px;
              font-weight: 600;
              display: flex;
              flex-direction: column-reverse;
              background-image: url(../assets/imgs/images/数据展示框3.png);
              background-repeat: no-repeat;
              background-size: 100% 100%;

              &:nth-child(2) {
                position: relative;

                &::before {
                  position: absolute;
                  left: 0;
                  content: " ";
                  height: 35px;
                  vertical-align: middle;
                  display: inline-block;
                  margin: auto;
                  border-left: 1px solid #11c7df;
                }

                &::after {
                  position: absolute;
                  right: 0;
                  content: " ";
                  height: 35px;
                  vertical-align: middle;
                  display: inline-block;
                  margin: auto;
                  border-left: 1px solid #11c7df;
                }
              }

              p {
                font-weight: 400;
                font-size: 12px;
                color: #00fffc;
              }
            }
          }
        }
      }
    }

    .platformPayment {
      & > div.appListInfo > div {
        background-image: url(../assets/imgs/apng/波形.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: bottom;
        width: 100%;
        height: 100%;
        padding: 10px;
        position: relative;

        & > div {
          position: absolute;
          display: flex;
          background-repeat: no-repeat;
          background-size: contain;
          color: #fff;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          p {
            color: #00fffc;
          }
        }

        & > div:nth-child(1) {
          width: 120px;
          height: 120px;
          background-image: url(../assets/imgs/apng/泡泡.png);
          left: 50px;
          bottom: 40px;
        }

        & > div:nth-child(2) {
          width: 164px;
          height: 164px;
          background-image: url(../assets/imgs/apng/泡泡-绿.png);
          left: 220px;
          top: 40px;
        }

        & > div:nth-child(3) {
          width: 172px;
          height: 172px;
          background-image: url(../assets/imgs/apng/泡泡-蓝.png);
          left: 450px;
          top: 60px;

          p {
            color: #0090ff;
          }
        }

        & > div:nth-child(4) {
          width: 120px;
          height: 120px;
          background-image: url(../assets/imgs/apng/泡泡.png);
          right: 60px;
          top: 40px;
        }
      }
    }

    .SmartIoT {
      & > div.appListInfo {
        width: 200%;
        // gap: 20px;
        padding: 20px 0;
        font-weight: 600;
        color: #00fffc;

        & > div {
          animation: animationL_R 10s linear infinite;
          width: 50%;
          padding: 0 10px;
          display: flex;
          flex-direction: column;

          h4 {
            font-size: 16px;
            height: 60px;
            line-height: 60px;
            padding-left: 20px;

            &::before {
              height: 45px;
              vertical-align: middle;
              width: 40px;
              display: inline-block;
              margin: auto;
              content: url(../assets/imgs/images/菱形.png);
            }
          }

          & > div {
            flex-grow: 1;
            display: flex;
            gap: 8px;

            & > div {
              background-image: url(../assets/imgs/apng/数据展示框6.png);
              background-size: 100% 100%;

              & > div {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                padding: 0 30px;
                text-overflow: ellipsis;
                overflow: hidden;
                word-break: break-all;
                text-align: center;
              }

              p {
                font-size: 12px;
                height: 40px;
                text-align: center;
                line-height: 40px;
              }

              width: 130px;
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }

    .supermarketSmart {
      .appListInfo {
        padding: 20px 0;
        width: 200%;

        & > div {
          animation: animationL_R2 10s linear infinite;
          width: 50%;
          padding: 0 10px;
          display: flex;
          flex-direction: column;
          color: rgba(0, 255, 252, 1);

          .appListTitle {
            font-size: 16px;
            height: 50px;
            line-height: 50px;
            padding-left: 20px;

            &::before {
              height: 45px;
              vertical-align: middle;
              width: 40px;
              display: inline-block;
              margin: auto;
              content: url(../assets/imgs/images/菱形.png);
            }
          }

          & > div:nth-child(2) {
            display: flex;
            gap: 20px;

            & > div:nth-child(1) {
              width: 230px;

              p {
                background-image: url(../assets/imgs/apng/小标题背景.png);
                padding: 0 10px;
                margin-bottom: 10px;
              }

              span {
                width: 36px;
                height: 53px;
                display: inline-block;
                background-image: url(../assets/imgs/images/数据展示框2.png);
                background-size: 100% 100%;
                font-weight: 600;
                font-size: 30px;
                color: #ffffff;
                text-align: center;
                line-height: 53px;
                margin-bottom: 10px;
                margin-left: 10px;
              }
            }

            & > div:nth-child(2) {
              flex-grow: 1;
              display: grid;
              gap: 10px;
              grid-template-columns: 280px 280px;
              grid-template-rows: 68px 120px;
              text-align: center;
              align-items: center;

              & > div {
                display: flex;
                align-items: center;
                flex-direction: column-reverse;
                justify-content: center;
                color: #fff;
                font-size: 18px;

                height: 100%;
                background-image: url(../assets/imgs/apng/数据展示框5.png);
                background-size: 100% 100%;

                p {
                  color: rgba(0, 255, 252, 1);
                  font-size: 14px;
                }
              }

              & > div:nth-child(-n + 2) {
                height: 100%;
                background-image: url(../assets/imgs/apng/数据展示框4-宽.png);
                background-size: 100% 100%;
              }
            }
          }
        }
      }
    }

    & > div:nth-child(2) {
      flex-grow: 1;
      // background-image: url(../assets/imgs/images/背景框2.png);
      background-size: 100% 100%;
    }

    overflow: hidden;

    &.itmeBoxWidth {
      background-image: url(../assets/imgs/apng/板块底边线-宽.png);

      & > div:nth-child(2) {
        background-image: url(../assets/imgs/images/中型框背景.png);
      }

      .itmeTitle {
        background-image: url("../assets/imgs/apng/板块标题栏-middle.png");
      }
    }

    .appList {
      display: flex;
      padding: 0;
      font-weight: 400;
      color: #d8feff;
      font-size: 18px;
      // gap: 10px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      flex-wrap: nowrap;
      scroll-behavior: smooth;
      .appListSole {
        position: absolute;
        width: 0;
        height: 2px;
        transition: all 1s;
        background-color: #11c7df;
        align-self: center;
        left: 5%;
        // animation: lift-right 15s linear;
      }

      & > div {
        margin-top: 14px;
        flex: none;
        position: relative !important;
      }
      // background-image: url('../assets/imgs/apng/板块背景-中下.png');
    }

    .appListTitle {
      width: 399px;
      height: 40px;
      line-height: 40px;
      padding-left: 40px;
    }

    .appOverview {
      margin-top: 40px;
      display: flex;
      gap: 20px;

      .appOverviewNum {
        // background-image: url(../assets/imgs/数字框.png);
        background-size: 100% 100%;
        font-size: 40px;
        color: #0ffbd6;
        width: 100px;
        height: 100px;
        text-align: center;

        p {
          color: #ffffff;
          font-size: 14px;
        }
      }

      .appOverviewInfo {
        padding: 10 20px;

        p {
          height: 50px;
          line-height: 50px;
        }
      }

      .payList {
        display: flex;
        gap: 20px;
        text-align: center;
        margin-top: 10px;
        justify-content: center;

        img {
          display: inline-block;
        }
      }
    }

    .appInfoDetails {
      flex-grow: 1;

      &.supermarketList {
        display: flex;
        // gap: 50px;
      }

      &.supermarketList > div > p {
        height: 90px;
        line-height: 100px;

        span {
          font-weight: 600;
          font-size: 30px;
          color: #0ffbd6;
          display: inline-flex;
        }
      }

      .appListTitle {
        display: inline-flex;
      }

      &.supermarketList .appListInfo > div {
        height: 80px;
        font-size: 20px;
        line-height: 30px;
      }

      .appListInfo {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 40px;

        & > div {
          padding: 10px 20px;
          width: calc(50% - 15px);
          // background-image: url(../assets/imgs/数字框.png);
          background-size: 100% 100%;
          height: 100px;
          font-size: 40px;
          color: #f8a000;

          p {
            font-size: 14px;
            color: #ffffff;
          }
        }
      }

      // 主要应用css
      &.appIconList {
        .appListInfo {
          flex-wrap: wrap;
          gap: 24px;
          margin-top: 40px;

          & > div {
            width: calc(33% - 15px);
            display: inline-flex;
            line-height: 80px;
            flex-grow: 1;
            color: #00f6fc;
            font-size: 18px;
            text-align: center;
            justify-content: center;
            gap: 20px;
            align-items: center;

            img {
              display: inline-flex;
            }
          }
        }
      }

      //物联 css
      &.thingsList {
        .appListInfo {
          margin-top: 30px;
          gap: 20px;

          & > div {
            width: calc(30% - 15px);
            height: 120px;
            color: #0ffbd6;
            font-size: 18px;
          }
        }
      }

      // 生活
      &.lifeList {
        .appListInfo {
          margin-top: 5px;
          gap: 20px;

          .lifeListInfo {
            h4 {
              margin-top: 5px;
            }
          }

          & > div {
            padding: 0;
            background: none;
            width: calc(50% - 15px);
            color: #0ffbd6;
            font-size: 18px;

            & > div > div {
              display: flex;
              gap: 10px;
              // margin-top: 10px;

              & > div {
                // background-image: url(../assets/imgs/数字框.png);
                background-size: 100% 100%;
                width: 33%;
                height: 65px;
                padding: 10px 20px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    @font-face {
      font-family: "HYk2gj";
      src: url("../assets/font/阿里妈妈数黑体 Bold 1.004_zitidi.com.ttf");
    }

    .itmeTitle {
      font-family: HYk2gj;
      height: 48px;
      line-height: 48px;
      font-size: 18px;
      font-weight: 400;
      color: #d7feff;
      text-align: left;
      margin-bottom: 2px;
      // font-weight: bold;
      font-size: 20px;
      padding-left: 100px;
      background-image: url(../assets/imgs/apng/板块标题栏-left.png);

      &::before {
        height: 30px;
        vertical-align: middle;
        width: 40px;
        display: inline-block;
        margin: auto;
        content: url(../assets/imgs/images/菱形.png);
      }

      &.right {
        text-align: right;
        padding-right: 100px;
        background-image: url(../assets/imgs/apng/板块标题栏-right.png);

        &::before {
          content: "";
        }

        &::after {
          height: 30px;
          vertical-align: middle;
          width: 40px;
          display: inline-block;
          margin: auto;
          content: url(../assets/imgs/images/菱形.png);
        }
      }
    }

    .peopleTitle {
      margin-bottom: 40px;
      padding-top: 10px;
      font-size: 14px;
      font-weight: 400;
      color: #00f6fc;
      text-align: center;
      height: 25px;
      line-height: 25px;
      vertical-align: middle;
      margin-bottom: 20px;

      &::after {
        // content: url(../assets/imgs/小标题装饰-right.png);
        height: 25px;
        width: 25px;
        display: inline-block;
        vertical-align: middle;
      }

      &::before {
        height: 25px;
        vertical-align: middle;
        width: 25px;
        display: inline-block;
        margin: auto;
        // content: url(../assets/imgs/小标题装饰-left.png);
      }
    }

    .numBox {
      display: flex;
      margin-bottom: 30px;
      gap: 10px;

      & > .title {
        width: 71px;
        background-image: url(../assets/imgs/images/在校师生人数.png);
        background-position: center;
        background-size: 71px 39px;
        flex: none;
      }

      div {
        // background-image: url(../assets/imgs/数字框-窄.png);
        background-image: url(../assets/imgs/images/数据展示框2.png);
        background-size: 100% 100%;
        width: 50px;
        height: 80px;
        font-size: 50px;
        font-family: PingFang SC;
        font-weight: 600;
        color: #fff;
        line-height: 50px;
        line-height: 80px;
        text-align: center;
        text-shadow: 0 0 2px #00fffc, 0 0 2px #00fffc, 0 0 20px #00fffc,
          0 0 20px #00fffc;
      }
    }

    .applicationList {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      & > div {
        width: 102px;
        display: flex;
        flex-direction: column-reverse;
        background-image: url(../assets/imgs/images/数据展示框3.png);
        background-size: 100% 100%;
        text-align: center;
        height: 62px;
        padding: 10px 0;
      }

      div.textBox {
        color: #00fffc;
        font-size: 12px;

        & > p:last-child {
          color: #ffffff;
          font-weight: 600;
          font-size: 20px;
        }
      }
    }

    // 人事数据
    .dataList {
      padding: 20px 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 10px;
      background-image: url("../assets/imgs/apng/板块背景-左上.png");
      // background-image: url(../assets/imgs/);

      div {
        width: 106px;
        height: 90px;
        display: flex;
        flex-direction: column-reverse;
        // background-image: url(../assets/imgs/数据框-六边形.png);

        p:first-child {
          color: #00fffc;
          font-size: 12px;
          padding: 0 10px;
          text-align: center;
        }

        p:last-child {
          height: 60px;
          text-align: center;
          line-height: 60px;
          font-weight: 600;
          color: #ffffffff;
          font-size: 24px;
          background-image: url(../assets/imgs/images/数据展示框.png);
          background-size: 100% 100%;
          text-shadow: 0 0 4px #00fffc, 0 0 20px #00fffc, 0 0 30px #00fffc,
            0 0 40px #00fffc;
        }
      }
    }

    // 智慧楼宇
    .dataBox {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 10px;
      background-image: url("/src/assets/imgs/apng/板块背景-左下.png"),
        url(../assets/imgs/images/楼宇背景.png) !important;
      background-size: 100% 100%, 100% 220px !important;
      background-repeat: no-repeat;
      align-items: center;
      justify-content: center;

      & > div {
        width: 50%;
        color: #ffffff;
        text-align: left;
        //padding: 16px;
        // gap: 10px;

        &:nth-child(-n + 4) {
          animation-duration: 3s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
          animation-direction: alternate;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: all 3s;
          background-repeat: no-repeat;
          background-size: contain;

          &:nth-child(1) {
            align-self: flex-start;
            animation-name: zoom-down;
            background-image: url(../assets/imgs/apng/泡泡.png);
            // background-color: #00B6FF; //rgba(0, 178, 75, 1);
            transform: scale(1);
          }

          &:nth-child(2) {
            background-image: url(../assets/imgs/apng/泡泡-绿.png);
            // background-color: #0077EE; //rgba(0, 222, 219, 1);
            transform: scale(1.1);
          }

          &:nth-child(3) {
            align-self: flex-start;
            animation-name: zoom-down;
            background-image: url(../assets/imgs/apng/泡泡-蓝.png);
            // background-color: #0026B2; //rgba(0, 38, 178, 1);
            transform: scale(1);
          }

          &:nth-child(4) {
            transform: scale(1.1);
            background-image: url(../assets/imgs/apng/泡泡.png);
            // background-color: #0077EE; // rgba(158, 0, 240, 1);
          }

          width: 110px;
          height: 110px;

          &:nth-child(2n) {
            align-self: flex-end;
            animation-name: zoom-up-and-down;
            width: 94px;
            height: 94px;
          }

          border-radius: 50%;
        }
      }

      #main {
        height: 180px;
      }

      #main1 {
        height: 180px;
      }

      p:first-child {
        font-size: 10px;
      }

      p:last-child {
        font-weight: 600;
        font-size: 16px;
      }
    }

    // 数字化应用
    .applications {
      display: flex;
      flex-direction: column;
      padding: 18px;
      background-image: url("../assets/imgs/apng/板块背景-右上.png");

      .appNum {
        display: flex;
        justify-content: space-around;

        & > div {
          display: flex;
          flex-direction: column;
          text-align: center;

          .appNumNum {
            width: 80px;
            height: 80px;
            font-family: PingFang SC;
            font-weight: 600;
            font-size: 30px;
            color: #fefefe;
            background-image: url(../assets/imgs/apng/基座.png);
            // background-size: 100% 100%;
            background-position: center;
          }

          .appNumTitle {
            font-family: PingFang SC;
            font-weight: 600;
            font-size: 14px;
            color: #00fffc;
          }
        }
      }

      .payChannel {
        border-bottom: 2px solid #00f6fc;
        margin: 15px 0;
      }

      .payItme {
        display: flex;
        justify-content: space-around;
        text-align: center;
        gap: 10px;

        & > div {
          display: flex;
          align-items: center;
          gap: 15px;
        }

        .payIco {
          width: 40px;
          height: 40px;

          &.wx {
            background-image: url(../assets/imgs/images/微信.png);
          }

          &.zfb {
            background-image: url(../assets/imgs/images/支付宝.png);
          }

          &.ykt {
            background-image: url(../assets/imgs/images/一卡通.png);
          }
        }

        .payTxt {
          flex-grow: 1;
          text-align: center;
          font-family: PingFang SC;
          font-weight: 600;
          font-size: 16px;
          color: #00fffc;
        }
      }
    }

    // 餐饮七日排行
    .foodBox {
      display: flex;
      flex-direction: column;
      padding: 18px 18px 0 18px;
      background-image: url("../assets/imgs/apng/板块背景-右中.png");

      .foodData {
        display: flex;
        justify-content: space-around;
        gap: 20px;

        & > div {
          display: flex;
          flex-direction: column;
          text-align: center;
          background-image: url(../assets/imgs/images/数据展示框4.png);
          background-size: 100% 100%;
          width: 128px;
          height: 68px;
          text-align: center;
          align-items: center;

          .foodDataNum {
            width: 91px;
            height: 40px;
            line-height: 42px;
            font-family: PingFang SC;
            font-weight: 600;
            font-size: 20px;
            color: #fefefe;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .foodTitle {
            font-family: PingFang SC;
            font-weight: 600;
            font-size: 14px;
            color: #00fffc;
          }
        }
      }

      .payChannel {
        border-bottom: 2px solid #00f6fc;
        margin: 10px 0;
      }

      .payItme {
        display: flex;
        justify-content: space-around;
        text-align: center;
        gap: 10px;

        & > div {
          display: flex;
          align-items: center;
          gap: 15px;
        }

        .payIco {
          width: 40px;
          height: 40px;

          &.wx {
            background-image: url(../assets/imgs/images/微信.png);
          }

          &.zfb {
            background-image: url(../assets/imgs/images/支付宝.png);
          }

          &.ykt {
            background-image: url(../assets/imgs/images/一卡通.png);
          }
        }

        .payTxt {
          flex-grow: 1;
          text-align: center;
          font-family: PingFang SC;
          font-weight: 600;
          font-size: 16px;
          color: #00fffc;
        }
      }
    }

    .userData {
      background-image: url("../assets/imgs/apng/板块背景-左中.png");
    }

    // 维修订单
    .repairBox {
      padding: 10px;
      display: flex;
      row-gap: 5px;
      column-gap: 5px;
      flex-direction: column;
      background-image: url("../assets/imgs/apng/板块背景-右下.png");

      & > .repairTitle {
        display: flex;
        column-gap: 5px;
        font-family: PingFang SC;
        font-weight: 400;
        font-size: 14px;
        color: #00fffc;
        text-align: center;

        > div {
          width: 148px;
          height: 24px;
          background: rgba(0, 129, 144, 0.2);
          // opacity: 0.2;
        }
      }

      overflow: hidden;

      & .repairTable {
        flex-grow: 1;
        display: flex;
        row-gap: 5px;
        flex-direction: column;

        &.transformBox {
          animation: scrollHorizontally 20s linear infinite;
        }

        .repairTableItem {
          width: 100%;
          display: flex;
          column-gap: 5px;
          font-family: PingFang SC;
          font-weight: 400;
          font-size: 14px;
          color: #fff;
          text-align: center;

          > div {
            width: 148px;
            height: 24px;
            background: rgba(0, 129, 144, 0.2);
            // opacity: 0.2;
          }
        }
      }
    }
  }

  .navList {
    position: relative;
    background-image: url(../assets/imgs/apng/路中线.png);
    background-size: 100% 100%;
    // background-size: cover;
    background-position: center;
    // background-position-y: 32px;
    background-repeat: no-repeat;

    & > div {
      margin: auto;
      position: relative;
      width: 850px;
    }

    & > div > div {
      position: absolute;
      width: 220px;
      height: 220px;
      background-size: 100% 100%;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.08);
        z-index: 6;

        &::before {
          content: " ";
          width: 100px;
          height: 120px;
          position: absolute;
          top: -20px;
          left: calc(50% - 50px);
          background-image: url(../assets/imgs/apng/箭头.png);
          transform: rotate(90deg);
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }

      // border: #fff solid 1px;

      &.pay {
        width: 292px;
        height: 282px;
        z-index: 3;
        left: 50px;
        top: 170px;
        background-image: url(../assets/imgs/apng/支付平台.png);
      }

      &.things {
        z-index: 2;
        width: 243px;
        height: 238px;
        top: -10px;
        left: 180px;
        background-image: url(../assets/imgs/apng/智慧公寓.png);
      }

      &.life {
        z-index: 2;
        left: 380px;
        width: 289px;
        height: 289px;
        top: 40px;
        background-image: url(../assets/imgs/apng/智能报修.png);
      }

      &.supermarket {
        z-index: 3;
        left: 280px;
        width: 307px;
        height: 329px;
        top: 280px;
        background-image: url(../assets/imgs/apng/智慧餐饮.png);
      }

      &.foodSafety {
        left: 550px;
        z-index: 2;
        width: 274px;
        height: 306px;
        top: 140px;
        background-image: url(../assets/imgs/apng/食安平台.png);
      }
    }

    &::before {
      position: absolute;
      content: " ";
      // background-image: url(../assets/imgs/弧-left.png);
      width: 60px;
      height: 100%;
      display: inline-block;
      left: 0;
      top: 0;
    }

    &::after {
      position: absolute;
      content: " ";
      // background-image: url(../assets/imgs/弧-right.png);
      width: 60px;
      height: 100%;
      display: inline-block;
      right: 0;
      top: 0;
    }
  }
}

/* 定义关键帧动画 */
@keyframes zoom-up-and-down {
  0% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(1.2) translateY(-10px);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes zoom-down {
  0% {
    transform: scale(1.1) translateY(0);
  }

  50% {
    transform: scale(1) translateY(10px);
  }

  100% {
    transform: scale(1.1) translateY(0);
  }
}

@keyframes scrollHorizontally {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes animationSmartLife {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-95%);
  }

  100% {
    transform: translateY();
  }
}

@keyframes animationL_R {
  0% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-200%);
  }

  90% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animationL_R2 {
  0% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  90% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animationT_B {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY();
  }
}

@keyframes animationB_T {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY();
  }
}

@keyframes zoom-iocn {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-100%);
  }

  35% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(-200%);
  }

  55% {
    transform: translateX(-200%);
  }

  60% {
    transform: translateX(-300%);
  }

  75% {
    transform: translateX(-300%);
  }

  80% {
    transform: translateX(-400%);
  }

  95% {
    transform: translateX(-400%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes top-x {
  0% {
    transform: translateX(-100%);
  }

  20% {
    transform: translateX(0);
  }

  80% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes width-x {
  0% {
    width: 0;
  }

  25% {
    width: 0;
  }

  40% {
    width: revert-layer;
  }

  90% {
    width: revert-layer;
  }

  100% {
    width: 0;
  }
}

@keyframes text-show {
  0% {
    display: none;
  }

  25% {
    display: none;
  }

  30% {
    display: none;
  }

  35% {
    display: block;
  }

  100% {
    display: block;
  }
}

// top
.chartsContent {
  display: flex;
  flex-direction: column;
  color: #fff;

  & > div {
    display: flex;
    gap: 15px;
    height: 30px;
    line-height: 30px;

    animation: top-x 5s cubic-bezier(0.36, -0.11, 0.48, 1.22) infinite;

    .chartsContentSerial {
      width: 30px;
      text-align: center;
      background: #008497;
    }

    .chartsContentText {
      width: 50px;
      flex: none;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:hover {
        span {
          display: block;
          position: absolute;
          top: -100%;
          background-color: #00d2ff;
          padding: 2px 5px;
          border-radius: 5px;
        }
      }
    }

    .chartsContentVal {
      width: 60px;
      text-align: right;
      animation: text-show 5s linear infinite;
    }

    .chartsContentBar {
      flex-grow: 1;
      display: flex;
      align-items: center;
      position: relative;

      & > div:first-child {
        height: 10px;
        border-radius: 10px;
        background: #00d2ff;
        animation: width-x 5s linear infinite;
      }

      & > div:last-child {
        width: 100%;
        text-align: center;
        position: absolute;
        font-family: PingFang SC;
        font-weight: bold;
        font-size: 22px;
        color: #061222;
        -webkit-text-stroke: 1px #11c7df;
        text-shadow: 0 2px #11c7df, 2px 0 #11c7df, -2px 0 #11c7df,
          0 -2px #11c7df;
      }
    }
  }
}
